@model List<dynamic>

<link rel="stylesheet" href="~/css/_About.css" />

<div class="about">
  <div class="about-skills">
    <div class="about-skills-pic">
      <img style="border-radius: 5%; width: inherit;" src="~/content/profile.jpeg"/>
    </div>
    <div class="about-skills-content">
      <div class="about-quote">
        I am a software engineer with expertise in <b>scalable backend systems and cloud infrastructure.</b> Track record of delivering projects end-to-end in fast-paced, cross-functional teams.
      </div>
      <div class="about-skills-content-skillboxes">
        <div class="skillbox-text"><b>I am skilled in: </b></div>
        <div class="skillbox">Python</div>
        <div class="skillbox">C++</div>
        <div class="skillbox">ElasticSearch</div>
        <div class="skillbox">SQL</div>
        <div class="skillbox">C#</div>
        <div class="skillbox">AWS</div>
        <div class="skillbox">Java</div>
        <div class="skillbox">Prometheus</div>
        <div class="skillbox">Terraform</div>
      </div>
      <div class="about-skills-content-description">
        <h3><b>With experience in:</b></h3>
        <h2>Large Scale Data Processing</h2>
        <p>- Providing <b>real time searching and alerting</b> on financial news documents.</p>
        <h2>Retrieval Augmented Generation</h2>
        <p>- Creating LLM-powered <b>chatbots and retrieval augmented generation</b> pipelines.</p>
        <h2>Cloud Infrastructure</h2>
        <p>- <b>AWS Cloud Architect certified.</b> Providing custom solutions on the cloud, and integrations with on-premises infrastructure.</p>
        <h2>Observability</h2>
        <p>- Building <b>custom observability platforms</b> and interfaces, improving insight into existing applications.</p>
        <h2>Full Stack Engineering</h2>
        <p>- Designing and implementing end to end <b>scalable and distributed solutions</b> using modern tech stacks</p>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="projects">
    <div class="content-header">Projects</div>
    <div class="projects-grid">
      @foreach (var o in Model) {
        <a class="projects-grid-item" href="@o.link">
          <div class="projects-grid-item-contents">
            <div class="projects-grid-item-contents-name">@o.name</div>
            <div class="projects-grid-item-contents-when">@o.when</div>
            <div class="projects-grid-item-contents-desc">@o.desc</div>
          </div>
        </a>
      }
    </div>
  </div>
</div>