<link rel="stylesheet" href="~/css/_Footer.css" />


<div class="footer">
    <div class="contact">
        <h1>Contact</h1>
        <div>jmqiuny@gmail.com</div>
    </div>
    <div class="socials-icons">
        <a class="resume-icon" href="~/content/resume.pdf">
            Resume
        </a>
        <a class="github-icon" href="https://github.com/Junming-Qiu">
            <img style="width:inherit;" src="~/content/github.png"/>
        </a>
        <a class="linkedin-icon" href="https://www.linkedin.com/in/junming-qiu-32b343191/">
            <img style="width:inherit;" src="~/content/linkedin.png"/>
        </a>
    </div>

</div>