.index {
    display: grid;
}
.panel {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
}

.divider {
    width: 100%;
    height: 1px;
    border-width: 1px;
    border-top: groove;
    border-color: gray;
    margin-top: 1%;
    margin-bottom: 1%;
}